.medication-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--background-one);
}
.list-item {
    background-color: var(--background-four);
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.list-item p {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
}
.list-item p span{
    font-weight: 600;
}

.btn {
    padding: 5px;
    margin: 10px;
}

.btn-small {
    background-color: var(--background-five);
    cursor: pointer;
    padding: 5px;
    border: 1px solid var(--background-one);
    color: var(--background-one);
    margin: 10px;
    width: 100%;
}

.btn-small:hover {
    background-color: var(--background-two);
    border: 1px solid var(--background-one);
    color: var(--background-one);
}

.btn-small-dark {
    background-color: var(--background-one);
    cursor: pointer;
    padding: 5px;
    border: 1px solid var(--background-one);
    color: white;
    margin: 10px;
    width: 100%;
}

.btn-small-dark:hover {
    background-color: var(--background-two);
    border: 1px solid var(--background-one);
    color: var(--background-one);
}