.home-content {
    background-color: var(--background-three);
    padding: 50px 20%;
    min-height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 50px;
    text-align: center;
}
.btn-box {
    display: flex;
    gap: 20px;
}
.btn-secondary {
    background-color: var(--background-five);
    cursor: pointer;
    padding: 15px;
    border: none;
    color: white;
    margin: 10px;
}
.btn {
    background-color: var(--background-one);
    cursor: pointer;
    padding: 15px;
    border: none;
    color: white;
    margin: 10px;
}
.ico-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.ico-home img {
    width: 300px;
}

@media (max-width: 764px) {
    .home-content {
        min-height: 100vh;
        padding: 10px;
    }

    .ico-home img {
        width: 75%;
    }
}